Repository boyney123/musix: changes, and which Codecov flags are due for each by the changed paths.
All: songs-api, songs-client

codecov.yml:

coverage:
  status:
    project:
      default: off
      songs-client:
        target: 90%
        flags: songs-client
      songs-api:
        target: 90%
        flags: songs-api

flags:
  songs-api:
    paths:
      - songs-api/
  songs-client:
    paths:
      - songs-client/

comment:
  layout: diff
  require_changes: yes

Delete .DS_Store
  .DS_Store
Due: none

Updated readme
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

Removing files for now
  .travis.yml
  codecov.yml
  install-and-test.sh
Due: none

Updated Readme
  README.md
Due: none

Remove console log
  songs-api/app/utils/metadata/index.js
Due: songs-api

Update readme
  README.md
  images/architecture.png
Due: none

tidy up on spec
  songs-client/src/utils/time/spec.js
Due: songs-client

Fixing loader
  songs-client/src/App.js
  songs-client/src/scss/index.scss
Due: songs-client
